/* Asterisk Wildcard selector to override default styles added by browser */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* General styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #E0E1DD;
}

h1 {
    font-weight: 500;
    color: #415A77;
}

h2 {
    font-weight: 300;
    color: #778DA9;
    margin-bottom: 10px;
}

p {
    color: #1B263B;
}

a {
    color: #415A77;
    text-decoration: none;
}

button:hover {
    box-shadow: none;
}

a:hover {
    box-shadow: none;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    height: 80px;
}

/* Index styles */
#container-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 800px;
    box-shadow: 0 0 2px 2px;
}

#container-index > h1 {
    margin-bottom: 20px;
}

#description {
    margin: 10px 20px;
    border: 1px solid #415A77;
    border-radius: 5px;
}

#description > p {
    margin: 10px;
}

#levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.level-select {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 12em;
    height: 10em;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    gap: 10px;
}

.level-description {
    text-align: center;
}

.btn-level {
    width: 80px;
    height: 30px;
    padding-top: 8px;
    border-radius: 5px;
    background-color: gray;
    color: white;
    text-decoration: none;
    font-size: 80%;
    box-shadow: 2px 2px black;
}

/* styles for label */
.label {
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

/* Creating a  box */
.box {
    text-align: center;
    visibility: hidden;
    margin-top: 10px;
    font-size: 80%;
}

/* hiding the checkbox */

#chk-btn {
    background-color: skyblue;
}

/* Changing the color of the box 
        to yellow from red */
#chk-btn:checked+.box {
    visibility: visible;
}

/* Previous score styles */
#previous-score {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Quiz styles */

/* Controls */
#container-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    width: 400px;
    max-width: 80%;
    background-color: white;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 2px 2px;
}

.btns-controls {
    width: 65px;
    background-color: gray;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    color: white;
    text-align: center;
    box-shadow: 2px 2px black;
}

.home-btn {
    width: 65px;
    background-color: gray;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    box-shadow: 2px 2px black;
}

/* Quiz */
#container-quiz {
    text-align: center;
    width: 400px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 2px 2px;
}

.btns-quiz {
    width: 120px;
    height: 40px;
    background-color: gray;
    border-radius: 5px;
    padding: 2px 2px;
    color: white;
    box-shadow: 2px 2px black;
}

.btn-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.correct {
    background-color: rgba(0, 128, 0, 0.7);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.7);
}

#image {
    width: 80%;
    max-height: 200px;
    margin: 20px;
}

/* Tracking */
#container-trackers {
    display: flex;
    background-color: white;
    width: 400px;
    height: 80px;
    max-width: 80%;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    gap: 20px;
    box-shadow: 0 0 2px 2px;
}

#trackers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tracker-text {
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    font-size: 80%;
    width: 170px;
    text-decoration: underline;
}

/* Score-screen styles */
#container-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#final-score {
    font-size: 200%;
    margin-bottom: 15px;
}

#final-level {
    font-size: 150%;
    padding: 10px;
}

.disable {
    pointer-events: none;
}

/* Footer styles */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: white;
}

#github-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

#github-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}